body {
   
    /* background-color: lightblue; */
    background-image: url("/asset/chatapp.jpeg");
}

h1 {
    
        text-shadow: 2px 1px;
    
    /* font-family: "purisa", Times, serif; */
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: black;
    text-align: center;
    padding-top:95px;
}
h2 {
    text-shadow: 1px 1px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: black;
    text-align: center;
}
h3 {
    
    color: black;
    text-align: center;
}
.log{
    background-image: url("/asset/chatapp.jpeg");
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    padding: 150px;
    color: black;
}
.lg{
    background-image: url("/asset/chatapp.jpeg");
    font-family: "purisa", Times, serif;
    font-style: normal;
    padding: 240px;
    /* color: navy; */
}
.reg {
    background-image: url("/asset/chatapp.jpeg");
    font-family: 'Courier New', Courier, monospace;
    /* font-style: italic; */
    font-style: normal;
    padding: 0px;
    /* color: navy; */
}
input{
    align-self: auto;
}
label
{
 display: inline-block;
 width: 140px;
 text-align:center;  
 color: black;
}
value{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
.absolute {
    position: absolute;
    top:10px;
    right:0;
    width: 80px;
    height: 300px;
  }

  .container {
    width: 970px;
    padding-top:10px;
    margin: 0 auto;
  }
  
  .pure-form input.ng-dirty.ng-invalid {
    border-color: #e9322d;
  }
  
  .field-message {
    display: inline-block;
    color:#e9322d;
    font-size: 90%;
    margin-left: 0.5em;
  }
  
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }


.container1{

    width: 1260px;
    
    /* background-color:lightblue; */
}
.header{
    width: 1260px;
    height: 100px;
    /* font-size: 30px; */
    /* background-color:rgb(89, 177, 206); */
}
.logo{
    position:absolute;
    top: 25px;
    float: left;
    width: 30px;
    height: 30px;
    
    /* background-color:rgb(21, 180, 133); */
}
.logout{
    
    float: right;
    /* background-color:gray; */
}
.area{
    width: 1260px;
    height: 500px;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    /* background-color:white; */
}
.leftarea{
    float: left;
    width: 410px;
    height: 550px;
    overflow:scroll;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    background-color:rgba(23, 150, 209, 0.932);
}
.rightarea{
    float: right;
    width: 820px;
    height: 550px;
    
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    background-color:rgba(161, 203, 223, 0.932);
}
.users{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 440px;
    height: 550px;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    /* background-color:lightblue; */
}
.messagebox{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 820px;
    height: 450px;
    overflow:scroll;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    /* background-color:lightblue  ; */
}
.typing{
    
    width: 840px;
    height: 100px;
    /* background-color:rgb(49, 100, 112); */
}
.typingmessage{
    float: left;
    width: 700px;
    height: 100px;
    background-color:white;
}
#left{
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    /* border: 2px solid #dedede; */
    /* background-color: #f1f1f1; */
    /* border-radius: 5px; */
    padding: 12px;
    margin: 10px;
    width: 58%;
    height: 60px;
    font-size: 15px;
    color: #031268;
    float: left;
}
#right{
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    /* border: 2px solid #dedede; */
    /* background-color: #f1f1f1; */
    /* border-radius: 5px; */
    padding: 12px;
    margin: 10px;
    width: 58%;
    height: 60px;
    font-size: 15px;
    color: #031268;
    float: left;
}
.send{
    font-size: 20px;
    float: right;
    width: 120px;
    height: 95px;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    /* background-color:lightskyblue; */
} 