body {
   
    /* background-color: lightblue; */
}

h1 {
    
        text-shadow: 2px 1px;
    
    font-family: "purisa", Times, serif;
    font-style: italic;
    color: white;
    text-align: center;
}
h2 {
    text-shadow: 1px 1px;
    font-family: "URW Chancery L", Times, serif;
    font-style: italic;
    color: white;
    text-align: center;
}
h3 {
    
    color: white;
    text-align: center;
}
.log{
    background-image: url("/asset/chatapp.jpeg");
    font-family: "purisa", Times, serif;
    font-style: italic;
    padding: 155px;
    color: white;
}
.lg{
    background-image: url("/asset/chatapp.jpeg");
    font-family: "purisa", Times, serif;
    font-style: italic;
    padding: 280px;
    /* color: navy; */
}
.reg {
    background-image: url("/asset/chatapp.jpeg");
    font-family: "purisa", Times, serif;
    font-style: italic;
    padding: 80px;
    /* color: navy; */
}
input{
    align-self: auto;
}
label
{
 display: inline-block;
 width: 140px;
 text-align:center;  
 color: white;
}
value{
    font-family: "purisa", Times, serif;
    font-style: italic;
}