<div>

    <h1>
        <font color="darkblue">CHAT_APP</font>
    </h1>
    <div align="center">
        <h2>Registration Form</h2>

        <form action="#/created">
            First Name:
            <input type="text" name="Firstname" placeholder="firstname" required  align="middle">
            <br>
            
            <br /> Last Name:
            <input type="text" name="Lastname" placeholder="lastname" required  align="middle">
            <br> 
            <br />Mobile number:
            <input type="number"  placeholder="phone number"  align="middle">
            <br> 
            <br />DOB:
            <input type="date"   placeholder="dd/mm/yyyy" required  align="middle"> 
            <br> 
            <br />Mail ID:
            <input type="email" name="Mail id"  placeholder="xyz@gmail.com" required  align="middle"> 
            <br> 
            <br />Create Password:
            <input type="password" name="Password" value="" required  align="middle">
            <br>
            <br /> Re-enter Password:
            <input type="password" name="Password" value="" required  align="middle">
            <br><br>
            <input type="submit" value="Register">
            <input type="reset" value="reset">
        </form>
    </div>
    </div>

