<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>home page</title>

</head>
<!-- <center> -->

  <body  background="../asset/chatapp.jpeg">
    <!-- <img  src="../asset/chatapp.jpg"> -->
    <div>
      <link rel="stylesheet" href="../asset/style.css">
      <div class="container1" >
        <div class="header">
          <h2>ChatApp</h2>
          <div class="logout">
            <a href="#/login"><button type="logout" value="logout">logout</button></a>
          </div>
        </div>
        <div class="area" >
          <div class="leftarea">
            <div class="users">
             <center><p font color="black">contacts</p></center>
              <ol>
                  <li ng-repeat="key in arr">
                    <font color="black" >{{key}}</font></li>
                
                </ol>
            </div>
          </div>
          <div class="rightarea">
            <div class="messagebox">
              <center>chatbox</center>
            </div>
            <div class="typing">
              <div class="typingmessage">
                <textarea rows="6" cols="85">
                  Type your message here....
                </textarea>
              </div>
              <div class="send">
                <center><button type="button" value="send">send</button> </center>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
<!-- </center> -->

</html>