<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>home page</title>

</head>
<center>

  <body>
    <div>
      <link rel="stylesheet" href="../asset/style.css">
      <div class="container">
        <div class="header">
          <h2>ChatApp</h2>
          <!-- <center>
            <h1>ChatApp</h1>
          </center> -->
          <!-- <div class="logo"> -->
            <!-- <img src="../asset/chatapp.jpeg" height="70px" width="70px"> -->
          <!-- </div> -->
          <div class="logout">
            <a href="#/login"><button type="logout" value="logout">logout</button></a>
          </div>
        </div>
        <div class="area">
          <div class="leftarea">
            <div class="users">
              <center>contacts</center>
            </div>
          </div>
          <div class="rightarea">
            <div class="messagebox">
              <center>chatbox</center>
            </div>
            <div class="typing">
              <div class="typingmessage"></div>
              <div class="send">
                <center>send </center>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</center>

</html>