    <div align="center"  class="log">

        <br /> <br /> <br /> 
        <h2>Log-in Page</h2><br />
        <form > 
        Email ID:
        <input type="text"  ng-model="user.email" placeholder="login id" required >
        <br>

        <br /> Password:
        <input type="password" ng-model="user.password" placeholder="********" required >
        <br>
        <br />


        <input type="submit" value="sign in"  align="center">
    </form>
    <form >
            <input type="submit" value="sign up"  align="center">
        </form>
    </div>
