<div align="center" class="log">

    <br /> <br /> <br />
    <h2>Log-in Page</h2><br />
    <label>Mail ID:</label>
    <input type="email" maxlength="100" required ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" name="email" ng-model="user.email"
        required>
    <br>
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid" class="ng-hide">
        <span ng-show="myForm.email.$error.required">Email is required.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
    </span>

    <br>

    <br />
    <label>Password:</label>
    <input type="password" ng-model="user.password" placeholder="********" required ng-minlength="6" ng-maxlength="10">
    <br>
    <br />
    <br>

    <button type="button" value="Submit" ng-click="login()">Sign in</button>&nbsp &nbsp
    <button type="button"><a href="#/registration"> Sign up </a></button>


    <div>
        <p>
            {{message}}

        </p>
    </div>

</div>